# env artifacts
build/*

# python packaging
*egg-info

# hugo
hugo/public
hugo/.hugo_build.lock

# quarto build
src/*index_files

# local user config
.envrc

# everything else
*__pycache__
src/_freeze/blog/nonflat-priors/index/execute-results
