# env artifacts
build/*

# python packaging
*egg-info

# hugo
hugo/public
hugo/.hugo_build.lock

# --- quarto build ---
src/.quarto/
src/*index_files
# freeze, for now
src/_freeze
# by default we assume that stuff in blog/ isn't unique to this repo.
# we can add exceptions ad hoc
src/blog/*

# local user config
.envrc

# everything else
*__pycache__
